<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ubah Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-card class="ion-margin-bottom">
      <ion-card-content>
        <ion-item class="ion-margin-vertical" lines="none">
          <ion-label position="stacked">Password Lama :</ion-label>
          <ion-input type="password" formControlName="password_lama" placeholder="*****" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_lama').hasError('required')">
            Silahkan isi Password lama.
          </ion-chip>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_lama').value != plaintext">
            Password lama tidak cocok.
          </ion-chip>
        </ion-item>
        <ion-item class="ion-margin-vertical" lines="none">
          <ion-label position="stacked">Password Baru :</ion-label>
          <ion-input type="password" formControlName="password_baru" placeholder="*****" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_baru').hasError('required')">
            Silahkan isi Password baru.
          </ion-chip>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_baru').value == plaintext">
            Password baru harus beda dengan Password lama.
          </ion-chip>
        </ion-item>
        <ion-item class="ion-margin-vertical" lines="none">
          <ion-label position="stacked">Konfirmasi Password Baru :</ion-label>
          <ion-input type="password" formControlName="password_konf" splaceholder="*****" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_konf').hasError('required')">
            Silahkan isi Konfirmasi Password baru.
          </ion-chip>
          <ion-chip color="danger"
            *ngIf="isSubmitted && myForm.get('password_baru').value != myForm.get('password_konf').value">
            Konfirmasi Password baru harus sama dengan Password baru.
          </ion-chip>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button class="ion-margin" expand="block" type="submit">Simpan</ion-button>
  </form>

</ion-content>