<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-title>Transaksi</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-segment [(ngModel)]="sgmStatus">
  <ion-segment-button value="pending">
    <ion-label>Pending</ion-label>
  </ion-segment-button>
  <ion-segment-button value="dikirim">
    <ion-label>Dikirim</ion-label>
  </ion-segment-button>
  <ion-segment-button value="terkirim">
    <ion-label>Selesai</ion-label>
  </ion-segment-button>
  <ion-segment-button value="batal">
    <ion-label>Batal</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>

  <div *ngIf="loading">
    <ion-card *ngFor="let arr of ['','','']">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text class="ion-no-padding ion-no-margin" animated style="height:500px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div [ngSwitch]="sgmStatus">
    <div *ngSwitchCase="'pending'">
      <ion-card *ngIf="empty_pending" class="ion-margin">
        <ion-card-content class="ion-text-center">
          Tidak ada transaksi
        </ion-card-content>
      </ion-card>

      <div *ngIf="!empty_pending">
        <ion-card *ngFor="let db of data_pending">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-padding-bottom">
                <ion-col>
                  No. Nota : <br>{{db.nota}}
                </ion-col>
                <ion-col>
                  Waktu : <br>{{db.created_at}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Pembeli : <br>{{db.pembeli.nama_pembeli}}
                </ion-col>
                <ion-col>
                  No. HP : <br>
                  <div>0{{db.pembeli.no_hp_pembeli}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-card-content>
            <ion-list class="ion-no-padding">
              <ion-item *ngFor="let item of db.produk;" class="ion-no-padding" lines="none">
                <ion-thumbnail slot="start">
                  <img class="foto_produk" src="https://ubmart.online/api/produk/foto/{{item.foto}}.png"
                    onerror="this.src='/assets/images/noimage.png'">
                </ion-thumbnail>
                <ion-label>
                  <div>{{item.nama_produk}}</div>
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-align-items-center">
                      <ion-col>Rp. {{item.harga_jual | number}} x {{item.kuantiti}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-card-content>
            Total : {{db.total | number}}
          </ion-card-content>
          <ion-card-content>
            Alamat Kirim : <br>
            {{db.alamat_kirim.alamat_kirim}}

            <div class="ion-padding-top ion-text-center">
              <ion-button fill="outline" expand="block" size="small" style="font-size: 15px;"
                (click)="peta(db.alamat_kirim.alamat_kirim_latitude,db.alamat_kirim.alamat_kirim_longitude)">
                Lihat Peta
              </ion-button>
            </div>
          </ion-card-content>
          <ion-card-content *ngIf="db.catatan">
            Catatan : <br>
            {{db.catatan}}
          </ion-card-content>
          <ion-card-content>
            Kurir :
            <span *ngIf="db.kurir.id_kurir==0">-</span>
            <table *ngIf="db.kurir.id_kurir>0">
              <tr valign="bottom">
                <td width="1">
                  <ion-icon name="person-circle" style="margin-bottom:-2px;"></ion-icon>
                </td>
                <td>{{db.kurir.nama_kurir}}</td>
              </tr>
              <tr>
                <td>
                  <ion-icon name="call" style="margin-bottom:-2px;"></ion-icon>
                </td>
                <td><a href="tel:0{{db.kurir.no_hp_kurir}}" style="text-decoration:none;">0{{db.kurir.no_hp_kurir}}</a>
                </td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!--DIKIRIM-->
    <div *ngSwitchCase="'dikirim'">
      <ion-card *ngIf="empty_dikirim" class="ion-margin">
        <ion-card-content class="ion-text-center">
          Tidak ada transaksi
        </ion-card-content>
      </ion-card>

      <div *ngIf="!empty_dikirim">
        <ion-card *ngFor="let db of data_dikirim">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-padding-bottom">
                <ion-col>
                  No. Nota : <br>{{db.nota}}
                </ion-col>
                <ion-col>
                  Waktu : <br>{{db.created_at}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Pembeli : <br>{{db.pembeli.nama_pembeli}}
                </ion-col>
                <ion-col>
                  No. HP : <br>
                  <div>0{{db.pembeli.no_hp_pembeli}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-card-content>
            <ion-list class="ion-no-padding">
              <ion-item *ngFor="let item of db.produk;" class="ion-no-padding" lines="none">
                <ion-thumbnail slot="start">
                  <img class="foto_produk" src="https://ubmart.online/api/produk/foto/{{item.foto}}.png"
                    onerror="this.src='/assets/images/noimage.png'">
                </ion-thumbnail>
                <ion-label>
                  <div>{{item.nama_produk}}</div>
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-align-items-center">
                      <ion-col>Rp. {{item.harga_jual | number}} x {{item.kuantiti}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-card-content>
            Total : {{db.total | number}}
          </ion-card-content>
          <ion-card-content>
            Alamat Kirim : <br>
            {{db.alamat_kirim.alamat_kirim}}

            <div class="ion-padding-top ion-text-center">
              <ion-button fill="outline" expand="block" size="small" style="font-size: 15px;"
                (click)="peta(db.alamat_kirim.alamat_kirim_latitude,db.alamat_kirim.alamat_kirim_longitude)">
                Lihat Peta
              </ion-button>
            </div>
          </ion-card-content>
          <ion-card-content *ngIf="db.catatan">
            Catatan : <br>
            {{db.catatan}}
          </ion-card-content>
          <ion-card-content>
            Kurir :
            <span *ngIf="db.kurir.id_kurir==0">-</span>
            <table *ngIf="db.kurir.id_kurir>0">
              <tr valign="bottom">
                <td width="1">
                  <ion-icon name="person-circle" style="margin-bottom:-2px;"></ion-icon>
                </td>
                <td>{{db.kurir.nama_kurir}}</td>
              </tr>
              <tr>
                <td>
                  <ion-icon name="call" style="margin-bottom:-2px;"></ion-icon>
                </td>
                <td><a href="tel:0{{db.kurir.no_hp_kurir}}" style="text-decoration:none;">0{{db.kurir.no_hp_kurir}}</a>
                </td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!--TERKIRIM-->

    <div *ngSwitchCase="'terkirim'">
      <ion-card *ngIf="empty_terkirim" class="ion-margin">
        <ion-card-content class="ion-text-center">
          Belum ada transaksi terkirim
        </ion-card-content>
      </ion-card>

      <div *ngIf="!empty_terkirim">
        <ion-card *ngFor="let db of data_terkirim">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-padding-bottom">
                <ion-col>
                  No. Nota : <br>{{db.nota}}
                </ion-col>
                <ion-col>
                  Waktu : <br>{{db.created_at}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Pembeli : <br>{{db.pembeli.nama_pembeli}}
                </ion-col>
                <ion-col>
                  No. HP : <br>
                  <div>0{{db.pembeli.no_hp_pembeli}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-card-content>
            <ion-list class="ion-no-padding">
              <ion-item *ngFor="let item of db.produk;" class="ion-no-padding" lines="none">
                <!-- <ion-item *ngFor="let item of db.produk;" class="ion-no-padding" lines="none"
              (click)="update(item.id, item.nama_produk, item.harga_pokok, item.harga_jual, item.keterangan)"> -->
                <ion-thumbnail slot="start">
                  <img class="foto_produk" src="https://ubmart.online/api/produk/foto/{{item.foto}}.png"
                    onerror="this.src='/assets/images/noimage.png'">
                </ion-thumbnail>
                <ion-label>
                  <div>{{item.nama_produk}}</div>
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-align-items-center">
                      <ion-col>Rp. {{item.harga_jual | number}} x {{item.kuantiti}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-card-content>
            Total : {{db.total | number}}
          </ion-card-content>
          <ion-card-content>
            Alamat Kirim : <br>
            {{db.alamat_kirim.alamat_kirim}}

            <div class="ion-padding-top ion-text-center">
              <ion-button fill="outline" expand="block" size="small" style="font-size: 15px;"
                (click)="peta(db.alamat_kirim.alamat_kirim_latitude,db.alamat_kirim.alamat_kirim_longitude)">
                Lihat Peta
              </ion-button>
            </div>
          </ion-card-content>
          <ion-card-content *ngIf="db.catatan">
            Catatan : <br>
            {{db.catatan}}
          </ion-card-content>
          <ion-card-content>
            Kurir :
            <span *ngIf="db.kurir.id_kurir==0">-</span>
            <table *ngIf="db.kurir.id_kurir>0">
              <tr valign="bottom">
                <td width="1">
                  <ion-icon name="person-circle" style="margin-bottom:-2px;"></ion-icon>
                </td>
                <td>{{db.kurir.nama_kurir}}</td>
              </tr>
              <tr>
                <td>
                  <ion-icon name="call" style="margin-bottom:-2px;"></ion-icon>
                </td>
                <td><a href="tel:0{{db.kurir.no_hp_kurir}}" style="text-decoration:none;">0{{db.kurir.no_hp_kurir}}</a>
                </td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!--BATAL-->
    <div *ngSwitchCase="'batal'">
      <ion-card *ngIf="empty_batal" class="ion-margin">
        <ion-card-content class="ion-text-center">
          Belum ada transaksi terkirim
        </ion-card-content>
      </ion-card>

      <div *ngIf="!empty_batal">
        <ion-card *ngFor="let db of data_batal">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-padding-bottom">
                <ion-col>
                  No. Nota : <br>{{db.nota}}
                </ion-col>
                <ion-col>
                  Waktu : <br>{{db.created_at}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Pembeli : <br>{{db.pembeli.nama_pembeli}}
                </ion-col>
                <ion-col>
                  No. HP : <br>
                  <div>0{{db.pembeli.no_hp_pembeli}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-card-content>
            <ion-list class="ion-no-padding">
              <ion-item *ngFor="let item of db.produk;" class="ion-no-padding" lines="none">
                <ion-thumbnail slot="start">
                  <img class="foto_produk" src="https://ubmart.online/api/produk/foto/{{item.foto}}.png"
                    onerror="this.src='/assets/images/noimage.png'">
                </ion-thumbnail>
                <ion-label>
                  <div>{{item.nama_produk}}</div>
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-align-items-center">
                      <ion-col>Rp. {{item.harga_jual | number}} x {{item.kuantiti}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-card-content>
            Total : {{db.total | number}}
          </ion-card-content>
          <ion-card-content>
            Alamat Kirim : <br>
            {{db.alamat_kirim.alamat_kirim}}

            <div class="ion-padding-top ion-text-center">
              <ion-button fill="outline" expand="block" size="small" style="font-size: 15px;"
                (click)="peta(db.alamat_kirim.alamat_kirim_latitude,db.alamat_kirim.alamat_kirim_longitude)">
                Lihat Peta
              </ion-button>
            </div>
          </ion-card-content>
          <ion-card-content *ngIf="db.catatan">
            Catatan : <br>
            {{db.catatan}}
          </ion-card-content>
          <ion-card-content>
            Kurir :
            <span *ngIf="db.kurir.id_kurir==0">-</span>
            <table *ngIf="db.kurir.id_kurir>0">
              <tr valign="bottom">
                <td width="1">
                  <ion-icon name="person-circle" style="margin-bottom:-2px;"></ion-icon>
                </td>
                <td>{{db.kurir.nama_kurir}}</td>
              </tr>
              <tr>
                <td>
                  <ion-icon name="call" style="margin-bottom:-2px;"></ion-icon>
                </td>
                <td><a href="tel:0{{db.kurir.no_hp_kurir}}" style="text-decoration:none;">0{{db.kurir.no_hp_kurir}}</a>
                </td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>