<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-title>Kategori</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" [routerLink]="['/kategori-detail']">
        <ion-icon name="add"></ion-icon>
        Tambah&nbsp;
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div *ngIf="loading">
    <ion-card  >
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text class="ion-no-padding ion-no-margin" animated style="height:144px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-item *ngFor="let db of data" lines="full" detail (click)="update(db.id, db.nama_kategori)">
        <table class="ion-activatable ripple-parent">
          <tr>
            <td>
              {{db.nama_kategori}}
            </td>
            <!-- <td width="1">
              <ion-icon name="chevron-forward" style="font-size:22px"></ion-icon>
            </td> -->
          </tr>
          <ion-ripple-effect></ion-ripple-effect>
        </table>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div style="height:60px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/kategori-detail']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>