<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!id_kategori">Tambah Kategori</ion-title>
    <ion-title *ngIf="id_kategori">Ubah Kategori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <ion-card>
    <ion-card-content class="ion-no-padding ion-padding-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Nama Kategori :</ion-label>
        <ion-input type="text" [(ngModel)]="nama_kategori" placeholder="Contoh : Makanan"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button *ngIf="!id_kategori" class="ion-margin-horizontal" expand="block" (click)="tambah()">Simpan</ion-button>
  <ion-button *ngIf="id_kategori" class="ion-margin-horizontal" expand="block" (click)="update()">Update</ion-button>
  <br>
  <ion-button *ngIf="id_kategori" color="danger" fill="clear" expand="block" (click)=" hapus()">Hapus</ion-button>

</ion-content>