<ion-content>

  <ion-card *ngFor="let db of data">
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" detail (click)="update( db.id, db.nama_kurir, db.no_hp)">
        <ion-avatar slot="start">
          <img class="avatar" src="https://ubmart.online/api/user_kurir/foto/{{db.id}}.jpg"
            onerror="this.src='/assets/images/user.png'">
        </ion-avatar>
        <ion-label>
          <ion-icon name="person"></ion-icon> {{db.nama_kurir}}<br>
          <ion-icon name="phone-portrait-outline"></ion-icon> 0{{db.no_hp}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/kurir-detail']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>