<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-title>Produk</ion-title>
    <ion-buttons slot="end"> -->
<!-- <ion-button fill="solid" [routerLink]="['/produk-detail']"> -->
<!-- <ion-button fill="solid" (click)="tambah()">
        <ion-icon name="add"></ion-icon>
        Tambah&nbsp;
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-card>
    <ion-card-content class="ion-no-margin ion-no-padding">
      <ion-searchbar class="ion-no-padding" mode="md" searchIcon="search-outline" animated debounce="500"
        placeholder="Cari Produk" (ionChange)="reset_limit();load_data('',$event.target.value,'')">
      </ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="ion-no-margin ion-no-padding">
      <ion-item class=" " lines="none">
        <ion-label>Kategori</ion-label>
        <ion-select [(ngModel)]="id_kategori" value="" interface="popover" (ionChange)="load_data('','','')">
          <ion-select-option value="">Semua</ion-select-option>
          <ion-select-option *ngFor="let db of data_kategori" [value]="db.id">{{db.nama_kategori}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div *ngIf="loading">
    <ion-card *ngFor="let arr of ['','','','','']">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text class="ion-no-padding ion-no-margin" animated style="height:100px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngFor="let db of data">
    <ion-card-content class="ion-no-padding">
      <table>
        <tr>
          <td class="foto_produk"
            [ngStyle]="{'background-image': 'url(https://ubmart.online/api/produk/foto/' + db.foto + '.png),url(/assets/images/noimage.png)'}">
            &nbsp;
          </td>
          <td>
            <ion-item class="ion-no-padding" lines="none" detail
              (click)="update(db.kategori.id_kategori, db.id, db.nama_produk, db.harga_pokok, db.harga_jual, db.foto, db.keterangan, db.stok_tersedia, db.stok_total)">
              <ion-label>
                <h2 style="font-weight: 500;">{{db.nama_produk}}</h2>
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col>Harga Pokok</ion-col>
                    <ion-col size="auto">:</ion-col>
                    <ion-col class="ion-text-end">Rp. {{db.harga_pokok | number}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>Harga Jual</ion-col>
                    <ion-col size="auto">:</ion-col>
                    <ion-col class="ion-text-end">Rp. {{db.harga_jual | number}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>Stok</ion-col>
                    <ion-col size="auto">:</ion-col>
                    <ion-col class="ion-text-end">
                      <div *ngIf="db.stok_tersedia==1" style="color: #27ae60;">tersedia</div>
                      <div *ngIf="db.stok_tersedia==0" style="color: #e74c3c;">kosong</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="load_data(id_kategori, cari, $event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div style="height:60px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="tambah()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>