// ion-item {
//     border-radius: 4px;
// }

td {
    // border: 1px solid green;
    padding: 0 0 0 6px;
    vertical-align:middle;
}

.foto_produk {
    background-size: cover;
    background-position: center;
    // height: 90px;
    margin-right: 14px;
    width: 94px;
} 

ion-col{
    font-size: 14px !important;
    padding: 0;
}
