<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ubah Nama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-margin-bottom">
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nama :</ion-label>
        <ion-input [(ngModel)]="nama" placeholder="Nama Lengkap"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button *ngIf="!proses_simpan" class="ion-margin" expand="block" (click)="simpan()">Simpan</ion-button>
  <ion-button *ngIf="proses_simpan" class="ion-margin" expand="block" disabled>
    <ion-spinner></ion-spinner> &nbsp; Simpan...
  </ion-button>

</ion-content>