<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Usaha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="ion-no-padding ion-margin-top">
      <ion-item lines="full">
        <ion-label position="stacked">
          Nama Usaha :
          <div>{{nama}}</div>
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">
          Keterangan :
          <div>{{keterangan}}</div>
        </ion-label>

      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">
          Alamat :
          <div>{{alamat}}</div>
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">
          Nama Pemilik:
          <div>{{pemilik}}</div>
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">
          No. HP :
          <div>0{{no_hp}}</div>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="tanggal_gabung!='0000-00-00'" lines="full">
        <ion-label position="stacked">
          Tanggal gabung :
          <div>{{tanggal_gabung | date:'dd/MM/yyyy'}}</div>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="tanggal_mulai!='0000-00-00'" lines="none">
        <ion-label position="stacked">
          Masa Aktif :
          <div>{{tanggal_mulai | date:'dd/MM/yyyy'}} - {{tanggal_berakhir | date:'dd/MM/yyyy'}}</div>
        </ion-label>
      </ion-item>

    </ion-card-content>
    <ion-card-content *ngIf="status!='1'" class="ion-text-center">
      <ion-button expand="block" (click)="update_aktif()">Aktifkan</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>