<ion-tabs>

  <ion-toolbar color="danger" slot="top">
    <ion-title>{{judul}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-padding-end" [routerLink]="['/setting']">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="dashboard" (click)="tap('Dashboard')">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kategori" (click)="tap('Kategori')">
      <ion-icon name="square"></ion-icon>
      <ion-label>Kategori</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produk" (click)="tap('Produk')">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transaksi" (click)="tap('Transaksi')">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kurir" (click)="tap('Kurir')">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Kurir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usaha-jamaah" (click)="tap('Usaha Jamaah')">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Usaha_Jamaah</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>