<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!id_kurir">Tambah Kurir</ion-title>
    <ion-title *ngIf="id_kurir">Ubah Kurir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="stacked">Nama Kurir :</ion-label>
          <ion-input type="text" formControlName="nama_kurir" placeholder="Nama Kurir" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('nama_kurir').hasError('required')">
            Silahkan isi Nama Kurir.
          </ion-chip>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">No HP :</ion-label>
          <ion-input type="number" formControlName="no_hp" placeholder="0" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('no_hp').hasError('required')">
            Silahkan isi Nomor HP Kurir.
          </ion-chip>
        </ion-item>
        <ion-item *ngIf="!id_kurir" lines="none">
          <ion-label position="stacked">Password Default :</ion-label>
          <ion-input type="text" formControlName="password" required readonly></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="ion-padding-top">
      <ion-button *ngIf="!id_kurir" class="ion-margin" type="submit" expand="block">Simpan</ion-button>
      <ion-button *ngIf="id_kurir" class="ion-margin" type="submit" expand="block">Update</ion-button>
    </div>
  </form>
  <ion-button *ngIf="id_kurir" color="danger" fill="clear" expand="block" (click)=" hapus()">Hapus</ion-button>

</ion-content>