<ion-content>

  <div class="ion-padding ion-text-center login-background">
    <ion-card>
      <ion-card-header color="danger">
        Login UBMart Admin
      </ion-card-header>
      <ion-card-content class="ion-margin-top">
        <ion-item class="ion-margin-vertical" lines="none">
          <ion-label position="stacked">No. HP :</ion-label>
          <ion-input type="number" [(ngModel)]="myform.no_hp" placeholder="Contoh : 08123456789"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-vertical" lines="none">
          <ion-label position="stacked">Password :</ion-label>
          <ion-input type="password" [(ngModel)]="myform.password" placeholder="*****"></ion-input>
        </ion-item>

        <br>
        <div>
          <ion-button *ngIf="!proses_login" class="ion-margin" expand="block" (click)="login()">Login</ion-button>
          <ion-button *ngIf="proses_login" class="ion-margin" expand="block" disabled>
            <ion-spinner></ion-spinner> &nbsp; Login...
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>