.square {
    border-radius: 2px;
    border: 6px solid #fff;
    box-shadow: 1px 1px 1px 2px #ddd;
    display: inline-block;
    position: relative;
}

.foto{
    object-fit: cover;
    position: relative;
    height: 260px;
    width: 260px;
}

.tombol_ubah {
    background-color: #000;
    bottom: 0px;
    color: #fff;
    opacity: 0.5;
    padding: 8px;
    position: absolute;
    width: 100%;
}
