<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!id_produk">Tambah Produk</ion-title>
    <ion-title *ngIf="id_produk">Ubah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div class="square ion-margin-top" (click)="ubah_foto()">
    <img class="foto" [src]="foto" onerror="this.src='/assets/images/noimage.png'">
    <div class="tombol_ubah">ubah</div>
  </div>

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="stacked">Kategori</ion-label>
          <ion-select formControlName="id_kategori" interface="popover" placeholder="Kategori" required>
            <ion-select-option *ngFor="let db of data_kategori" [value]="db.id">{{db.nama_kategori}}</ion-select-option>
          </ion-select>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('id_kategori').hasError('required')">
            Silahkan pilih kategori.
          </ion-chip>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Nama Produk :</ion-label>
          <ion-input type="text" formControlName="nama_produk" placeholder="Nama produk" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('nama_produk').hasError('required')">
            Silahkan isi Nama Produk.
          </ion-chip>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Harga Pokok :</ion-label>
          <ion-input type="tel" formControlName="harga_pokok" placeholder="0" required (ionChange)="setHargaPokok()">
          </ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('harga_pokok').hasError('required')">
            Silahkan isi Harga Pokok.
          </ion-chip>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Harga Jual :</ion-label>
          <ion-input type="tel" formControlName="harga_jual" placeholder="0" required (ionChange)="setHargaJual()">
          </ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('harga_jual').hasError('required')">
            Silahkan isi Harga Jual.
          </ion-chip>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Keterangan :</ion-label>
          <ion-textarea formControlName="keterangan" placeholder="Keterangan" required></ion-textarea>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('keterangan').hasError('required')">
            Silahkan isi Keterangan produk.
          </ion-chip>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          Stok : &nbsp; <ion-toggle mode="md" [checked]="toggle_stok" (ionChange)="ubah_stok()"></ion-toggle>
          <span *ngIf="toggle_stok=='true'" style="color: #27ae60;">tersedia</span>
          <span *ngIf="toggle_stok=='false'" style="color: #e74c3c;">kosong</span>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="ion-padding-bottom">
      <ion-button *ngIf="!id_produk" class="ion-margin" type="submit" expand="block">Simpan</ion-button>
      <ion-button *ngIf="id_produk" class="ion-margin" type="submit" expand="block">Update</ion-button>
    </div>
  </form>

  <ion-button *ngIf="id_produk" color="danger" fill="clear" expand="block" (click)=" hapus()">Hapus</ion-button>

</ion-content>