.avatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 1px 1px 1px 2px #ddd;
    height: 140px;
    // margin: auto;
    // object-fit: cover;
    width: 140px;
}