<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div (click)="ubah_foto()"> -->
    <!-- <img class="avatar" [ngStyle]="{'background-image': 'url(' + foto + '),url(/assets/images/user.png)'}"> -->
    <img class="avatar" [ngStyle]="{'background-image': 'url(/assets/images/user.png)'}">
  <!-- </div> -->

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h3>Nama :</h3>
          {{nama}}
        </ion-label>
        <ion-button fill="outline" slot="end" (click)="ubah_nama()">ubah</ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3>No. HP :</h3>
          0{{no_hp}}
        </ion-label>
        <ion-button fill="outline" slot="end" (click)="ubah_nohp()">ubah</ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3>Password :</h3>
          *****
        </ion-label>
        <ion-button fill="outline" slot="end" (click)="ubah_password()">ubah</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button class="ion-padding" color="danger" expand="block" fill="outline" (click)=" keluar()">Keluar</ion-button>
  </div>
</ion-content>