/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

div,
ion-col,
ion-card-content {
    color: #34495e;
    font-size: 15px !important;
}

h1,
h2,
h3,
h4 {
    color: #34495e;
}
table {
    width: 100%;
    tr {
        td {
            padding: 12px 12px 10px 14px;
            vertical-align: text-top;
        }
    }
}

ion-avatar {
    border: 1px solid #eee;
}

ion-content {
    --background: #ecf0f1;
}

ion-card {
    // margin-bottom: 16px;
    // margin-bottom: 4px;
}

ion-card-header {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0 10px 0;
}

ion-chip {
    border-radius: 6px;
    margin-left: 0;
    padding: 0 6px;
}

ion-footer {
    padding: 4px 8px;
}

ion-col {
    padding: 8px 0 2px 0;
}

ion-input,
ion-select,
ion-textarea {
    --placeholder-color: #999 !important;
    // --placeholder-font-style: italic !important;
    border-bottom: 2px solid #a6b5b6;
}

ion-item {
    // margin-bottom: 16px;
    padding-bottom: 6px;
}

ion-label {
    white-space: normal !important;
}

ion-segment {
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

ion-spinner {
    width: 20px;
}

.foto_produk {
    border: 1px solid #f1f0f7;
    border-radius: 4px;
    width: 70px;
}

.foto_square {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none !important;
    height: 42vw;
    width: 100%;
}

.peta {
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 160px;
    width: 100%;
}
