<!-- <ion-header>
    <ion-toolbar color="danger">
        <ion-title>UBMart Admin</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-card>
        <ion-card-header class="ion-text-center" color="primary">
            Transaksi
        </ion-card-header>
        <ion-card-content>
            <ion-item class="ion-no-padding">
                <ion-select [(ngModel)]="bulan" interface="popover" (ionChange)="ionViewDidEnter()">
                    <ion-select-option value="1">Januari</ion-select-option>
                    <ion-select-option value="2">Februari</ion-select-option>
                    <ion-select-option value="3">Maret</ion-select-option>
                    <ion-select-option value="4">April</ion-select-option>
                    <ion-select-option value="5">Mei</ion-select-option>
                    <ion-select-option value="6">Juni</ion-select-option>
                    <ion-select-option value="7">Juli</ion-select-option>
                    <ion-select-option value="8">Agustus</ion-select-option>
                    <ion-select-option value="9">September</ion-select-option>
                    <ion-select-option value="10">Oktober</ion-select-option>
                    <ion-select-option value="11">November</ion-select-option>
                    <ion-select-option value="12">Desember</ion-select-option>
                </ion-select>
                <ion-input type="number" class="ion-text-end" [(ngModel)]="tahun" (ionChange)="ionViewDidEnter()"></ion-input>
            </ion-item> 
            
            <ion-grid>
                <ion-row>
                    <ion-col>Total Transaksi</ion-col>
                    <ion-col size="auto">:</ion-col>
                    <ion-col class="ion-text-end">
                        {{total_transaksi | number}}
                        <ion-skeleton-text *ngIf="!total_transaksi" animated></ion-skeleton-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Total Laba</ion-col>
                    <ion-col size="auto">:</ion-col>
                    <ion-col class="ion-text-end">
                        {{total_laba | number}}
                        <ion-skeleton-text *ngIf="!total_laba" animated></ion-skeleton-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header class="ion-text-center" color="primary">
            Produk
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>Total Kategori</ion-col>
                    <ion-col size="auto">:</ion-col>
                    <ion-col class="ion-text-end">
                        {{total_kategori | number}}
                        <ion-skeleton-text *ngIf="!total_kategori" animated></ion-skeleton-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Total Produk</ion-col>
                    <ion-col size="auto">:</ion-col>
                    <ion-col class="ion-text-end">
                        {{total_produk | number}}
                        <ion-skeleton-text *ngIf="!total_produk" animated></ion-skeleton-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>