<ion-segment [(ngModel)]="status" (ionChange)="segmentChanged()">
  <ion-segment-button value="1">
    <ion-label>Aktif</ion-label>
  </ion-segment-button>
  <ion-segment-button value="0">
    <ion-label>Pending</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>Expired</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>

  <div *ngIf="loading">
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text class="ion-no-padding ion-no-margin" animated style="height:144px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div [ngSwitch]="status">

    <div *ngSwitchCase="'1'">
      <ion-card *ngIf="!data_aktif">
        <ion-card-content class="ion-text-center">
          Belum ada Usaha Jamaah Aktif.
        </ion-card-content>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding ion-no-margin" *ngFor="let db of data_aktif" size="6">
            <ion-card (click)="detail(db)">
              <ion-card-content class="ion-no-padding ion-text-center">  
                <div class="foto_square"
                  [ngStyle]="{'background-image': 'url(https://ubmart.online/api/usaha_jamaah/foto/' + db.foto + '.png),url(/assets/images/noimage.png)'}">
                </div> 
                <div style="padding: 6px 0 8px 0;"><b>{{db.nama_usaha}}</b></div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'0'">
      <ion-card *ngIf="!data_pending">
        <ion-card-content class="ion-text-center">
          Belum ada Usaha Jamaah pending.
        </ion-card-content>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding ion-no-margin" *ngFor="let db of data_pending" size="6">
            <ion-card (click)="detail(db)">
              <ion-card-content class="ion-no-padding ion-text-center">
                  <div class="foto_square"
                  [ngStyle]="{'background-image': 'url(https://ubmart.online/api/usaha_jamaah/foto/' + db.foto + '.png),url(/assets/images/noimage.png)'}">
                </div>
                <div style="padding: 6px 0 8px 0;"><b>{{db.nama_usaha}}</b></div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'3'">
      <ion-card *ngIf="!data_expired">
        <ion-card-content class="ion-text-center">
          Belum ada Usaha Jamaah expired.
        </ion-card-content>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding ion-no-margin" *ngFor="let db of data_expired" size="6">
            <ion-card (click)="detail(db)">
              <ion-card-content class="ion-no-padding ion-text-center">
                  <div class="foto_square"
                  [ngStyle]="{'background-image': 'url(https://ubmart.online/api/usaha_jamaah/foto/' + db.foto + '.png),url(/assets/images/noimage.png)'}">
                </div>
                <div style="padding: 6px 0 8px 0;"><b>{{db.nama_usaha}}</b></div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>